interface {{ interface.name }}
description {{ interface.description }}
{% if interface.uplink %}
switchport mode trunk
{% else %}
switchport access {{ interface.vlan }}
switchport mode access
{% endif %}
